@model ProductViewModel
@*
    
*@
@{
}
<section style="display: flex">
    <img />
    <div class="col-3 card shadow">
        <div class="card-body">
            <p>Имя: @Model.Name</p>
            <a role="button" class="btn" href="/cart/productbyid?id=@Model.Id">Добавить в корзину</a>
            <div>Описание: @Model.Description</div>
            <div>Категория: @Model.Category</div>
            <div>Цена: @Model.Price</div>
            <div>Оперативная память: @Model.Ram</div>
            <div>Количество ядер: @Model.CoresAmount</div>
            <a href="/shop/productspage">Вернуться</a>
            <button id="addtocart" class="btn" productid="@Model.Id" onclick="addToCart(this)">Добавить в корзину</button>
            <button id="addtocomparsion" productid="Model.Id" class="btn" onclick="addToComparsion(this)">Добавить в сравнение</button>
            <button id="addtofavorite" productid="@Model.Id" class="btn" onclick="addToFavorite(this)">Добавить в избранное</button>
        </div>
    </div>
</section>
@section Scripts {
    <script src="~/js/MainPage.js"></script>
}