@model List<ProductViewModel>
@*
*@
@{
}
<form asp-action="Search">
    <label for="text"></label>
    <input type="name" name="name"/>
    <input type="submit" />
</form>
<section class="row">
    @foreach(var x in Model)
    {
        <div class="col-3 card shadow">
            <div class="card-body">
                <a href="/shop/details?id=@x.Id">Имя: @x.Name</a>
                <button id="addtocart" class="btn" productid="@x.Id" onclick="addToCart(this)">Добавить в корзину</button>
                <button id="addtocomparsion" productid="@x.Id" class="btn" onclick="addToComparsion(this)">Добавить в сравнение</button>
                <button id="addtofavorite" productid="@x.Id" class="btn" onclick="addToFavorite(this)">Добавить в избранное</button>
            </div>
        </div>
        <div>Описание: @x.Description></div>
        <div>Категория: @x.Category></div>
    }
</section>
@section Scripts {
    <script src="~/js/MainPage.js"></script>
}
