@model CartViewModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@if (Model == null || Model.Items.Count == 0)
{
    <h3>Корзина пуста</h3>
}
else
{
    <div class="row">
        <div class="col">
            <table class="table">
                <thead>
                    <tr>
                        <th></th>
                        <th>Название</th>
                        <th>Цена</th>
                        <th>Кол-во</th>
                        <th>Категория</th>
                        <th>Общая цена</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var x in Model.Items)
                    {
                        <tr>
                            <td>
                                <div>
                                    <label for="addtoserver"></label>
                                    <button id="tracking" productid="@x.Product.Id"></button>
                                </div>
                            </td>
                            <td>@x.Product.Name</td>
                            <td id="price">@x.Product.Price</td>
                            <td id="amount">@x.Amount</td>
                            <td>@x.Product.Category</td>
                            <td id="cost">@x.Cost</td>
                            <td><button id="increasemount" productid="@x.Product.Id">+</button></td>
                            <td><button id="decreaseamount" productid="@x.Product.Id">-</button></td>
                        </tr>
                    }
                </tbody>
            </table>
            <h3 id="overallprice">Итого : @Model.Cost</h3>
        </div>
    </div>
    <div>
        <a href="/shop/productspage">Продолжить покупки</a>
        <button id="showorder">Оформить заказ</button>
    </div>
}
@section Scripts{
    <script src="~/js/CartScripts.js"></script>
}