@model CartViewModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@if (Model == null || Model.Items.Count == 0)
{
    <h3>Корзина пуста</h3>
}
else
{
    <div class="row">
        <div class="col">
            <table class="table">
                <thead>
                    <tr>
                        <th></th>
                        <th>Название</th>
                        <th>Цена</th>
                        <th>Кол-во</th>
                        <th>Категория</th>
                        <th>Общая цена</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var x in Model.Items)
                    {
                        <tr>
                            <td>
                                <div>
                                    <label for="addtoserver"></label>
                                    <button id="addtoserver" productid="@x.Product.Id"></button>
                                </div>
                            </td>
                            <td>@x.Product.Name</td>
                            <td id="price">@x.Product.Price</td>
                            <td id="amount">@x.Amount</td>
                            <td>@x.Product.Category</td>
                            <td id="cost">@x.Cost</td>
                            <td><button id="increasemount" productid="@x.Product.Id">+</button></td>
                            <td><button id="decreaseamount" productid="@x.Product.Id">-</button></td>
                        </tr>
                    }
                </tbody>
            </table>
            <h3>Итого : @Model.Cost</h3>
        </div>
    </div>
    <div>
        <a href="/shop/productspage">Продолжить покупки</a>
        <a href="/cart/showorder">Оформить заказ</a>
    </div>
}
<script>
    var decreaseButtons = document.querySelectorAll("#decreaseamount");
    decreaseButtons.forEach(function (button) {
        button.addEventListener("click", function () {
            var productid = $(this).attr("productid");
            var success = get("/cart/decreaseamount?id=" + productid);
            if (success) {
                var closest = $(this).closest("tr");
                closest.find("#amount").html(parseInt(closest.find("#amount").html()) - 1);
                closest.find("#cost").html(parseInt(closest.find("#cost").html()) - parseInt(closest.find("#price").html()));
            }
        });
    });
        var increaseButtons = document.querySelectorAll("#increasemount");
        increaseButtons.forEach(function (button) {
        button.addEventListener("click", function () {
            
            var id = $(this).attr("productid");
            var amountadd = parseInt($(this).attr("amount"));
            debugger;
            var success = get("/cart/addtocart?id=" + id);
            if (success) {
                var closest = $(this).closest("tr");
                closest.find("#amount").html(parseInt(closest.find("#amount").html()) + 1);
                closest.find("#cost").html(parseInt(closest.find("#cost").html()) + parseInt(closest.find("#price").html()));
                debugger;
            }
        });
    });
function get(url) {
    return fetch(url, {
        method: 'GET',
        headers: {
            'Accept': 'application/json',
            'Content-Type': 'application/json;charset=utf-8'
        }
    }).then(response => response.ok);
    }
</script>