@model OrderViewModel

@{
    var cart = Model.CartItems;
    var address = Model?.Info;
}
<div class="row">
    <div class="col-5 card shadow-lg">
        <h4>Ваш заказ</h4>
        <table class="table">
            <thead>
                <tr>
                    <th>Название</th>
                    <th>Цена</th>
                    <th>Кол-во</th>
                    <th>Стоймость</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var x in cart)
                {
                    <tr>
                        <td>@x.Product.Name</td>
                        <td>@x.Product.Price</td>
                        <td>@x.Amount</td>
                        <td>@x.Cost</td>
                        <td><button id="decreasebutton" productid="@x.Product.Id"></button>-</td>
                        <td><button id="increasebutton" productid="@x.Product.Id"></button>+</td>
                    </tr>
                }
            </tbody>
        </table>
        <div id="overallprice" class="text-end">Общая стоймость: @Model.Cost</div>
    </div>
    @if (address == null)
    {
        <div>
            <h3>Перед оформлением заказа добавьте адрес</h3>
            <a href="/addresses/index">Добавить адрес</a>
        </div>
    }
    else
    {
        <div>
            <div>@address.FullName</div>
            <div>@address.Address</div>
        </div>
        <button id="showorder">Оформить заказ</button>
    }
    <a href="/shop/productspage">Продолжить покупки</a>
</div>
<div class="">
    @await Component.InvokeAsync("ShowInfo")
</div>

@section Scripts{
    <script src="~/js/ShowOrder.js"></script>
}