@model OrderWithAddressModel

@*
    
*@
@{
    var cart = Model.Cart;
    var address = Model.Address;
}
<div class="row">
    <div class="col-5 card shadow-lg">
        <h4>Ваш заказ</h4>
        <table class="table">
            <thead>
                <tr>
                    <th>Название</th>
                    <th>Цена</th>
                    <th>Кол-во</th>
                    <th>Стоймость</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var x in Model.Cart.Items)
                {
                    <tr>
                        <td>@x.Product.Name</td>
                        <td>@x.Product.Price</td>
                        <td>@x.Amount</td>
                        <td>@x.Cost</td>
                    </tr>
                }
            </tbody>
        </table>
        <div class="text-end">Общая стоймость: @Model.Cart.Cost</div>
    </div>
    @if (address == null)
    {
        <div>
            <h3>Перед оформлением заказа добавьте адрес</h3>
            <a href="/addresses/index">Добавить адрес</a>
        </div>
    }
    else
    {
        <div>
            <div>@address.FullName</div>
            <div>@address.Address</div>
        </div>
        <a href="/cart/createorder">Оформить заказ</a>
    }
    <a href="/shop/productspage">Продолжить покупки</a>
</div>